<div class="card">
    <img src="{{webformatURL}}" alt="{{tags}}" width="285" height="180">
    <ul class="card-description">
        <li class="card-description__list-item">
            <h3 class="list-item__property-name">Likes</h3>
            <p style="
  font-size: 15px; text-align: center;" clss="list-item__property">{{likes}}</p>
        </li>
        <li class="card-description__list-item">
            <h3 class="list-item__property-name">Views</h3>
            <p style="
  font-size: 15px; text-align: center;" clss="list-item__property">{{views}}</p>
        </li>
        <li class="card-description__list-item">
            <h3 class="list-item__property-name">Comments</h3>
            <p style="
  font-size: 15px; text-align: center;" clss="list-item__property">{{comments}}</p>
        </li>
        <li class="card-description__list-item">
            <h3 class="list-item__property-name">Downloads</h3>
            <p style="
  font-size: 15px; text-align: center;" clss="list-item__property">{{downloads}}</p>
        </li>
    </ul>
</div>

